<h2 class="screen-align">Createtypes</h2>
<div id="template-i60p" class="gjs-row">
    <div id="template-i9go" class="gjs-cell">
        <label id="template-iodo" class="label ">Label</label>
        <input id="template-irt4" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-irxj" class="gjs-cell">
        <label id="template-idah" class="label ">Label</label>
        <input id="template-i5vvc" [(ngModel)]="types.description"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
        />
    </div>
    <div id="template-i69q" class="gjs-cell">
        <div id="template-ire5u" (click)="GpCreate()" class="button btn btn-primary ">Send</div>
    </div>
</div>